::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;
  }

  .mat-form-field-empty.mat-form-field-label {
    color: white !important;    
}

.white {
    color: white;
}

@media only screen and (max-width: 415px) {
    .search-width {
        width: 80vw;
        margin-top: 10vh;
    }

    .input-width {
      width: 60vw;
    }

    .random-adjust {
      float: right;
      right: 10vw;
    }
  }
  @media only screen and (min-width: 415px) {
    .search-width {
        width: 100vw;
        margin-top: 40vh;
    }

    .input-width {
      width: 40vw;
    }

    .random-adjust {
      right: 2vw;
    }
  }