@media only screen and (max-width: 415px) {
    .left {
        color: white; 
        bottom: 5vh;
        right: 15vh;
    }

    .right {
        color: white; 
        bottom: 5vh;
        left: 15vh;
    }
  }
  @media only screen and (min-width: 415px) {
    .left {
        color: white; 
        right: 20vh;
    }

    .right {
        color: white; 
        left: 20vh;
    }
  }