@media only screen and (max-width: 415px) {
    .left {
        color: white; 
        bottom: 5vh;
        right: 5vw;
    }

    .right {
        color: white; 
        bottom: 5vh;
        left: 5vw;
    }

    .mid {
        bottom: 5vh;
    }

    .bottom {
        bottom: 5vh;
        color: white;
    }
  }
  @media only screen and (min-width: 415px) {
    .left {
        color: white; 
        right: 10vw;
    }

    .right {
        color: white; 
        left: 10vw;
    }

    .mid {
        top: 1vh;
    }

    .bottom {
        top: 5vh;
        color: white;
    }
  }