@media only screen and (max-width: 415px) {
    .card {
        width: 40vh;
        height: 80vh;
        top: 5vh;
        opacity: 0.8;
    }
  }
  @media only screen and (min-width: 415px) {
    .card {
        width: 70vh;
        height: 80vh;
        opacity: 0.8;
        top: 10vh;
    }
  }