<mat-card class="card">
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="4:2">
      <mat-grid-tile [rowspan]=1 [colspan]=2>
        <div *ngIf='clue != undefined'>  
          <h1>{{clue.category.title}}</h1>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]=2 [colspan]=1 style="top: 1vh;">
        <div *ngIf='clue != undefined'>
          <h2>Question</h2>
          <p style="margin-right: 5vh; overflow:scroll;">{{clue.question}}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]=2 [colspan]=1 style="border-left: 2px solid white;">
        <div *ngIf='clue != undefined'>
          <span>
            <span style="font-size: 150%"><i>{{clue.answer}}</i></span>
          </span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 style="top: 5vh;">
        <div *ngIf='clue != undefined'>
          <h1 >For: ${{clue.value}}</h1>
          </div>
        </mat-grid-tile>
      <mat-grid-tile [colspan]=1 style="top: 5vh;">
          <div style="border-left: 2px solid white; width: 100%" *ngIf='clue != undefined'>
            <h1>{{clue.airdate.split('-')[0]}}</h1>
            <p >{{clue.airdate.split('-')[1]}}-{{clue.airdate.split('-')[2]}}</p>
          </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
