<mat-card class="card">
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="3:2">
      <mat-grid-tile [colspan]=1>
        <span>
          <h3>Category</h3>
          <span>{{category}}</span>
        </span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1>
        <span>
          <h3>Difficulty</h3>
          <span>{{difficulty}}</span>
        </span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=2>
        <span>
          <h3>Question</h3>
          <span>{{question}}</span>
        </span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1>
        <span>
          <h3>Answer</h3>
          <span>{{answer}}</span>
        </span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1>
        <span>
          <h3>Airdate</h3>
          <span>{{airdate}}</span>
        </span>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
